
@{
    ViewBag.Title = (string)Model.Title;
}

@model SalesSystemWebApp.ViewModels.FeedsViewModel


@Html.Partial("_PageHeading", (string)Model.Title)



@using (Html.BeginForm((string) Model.ActionName, "Feeds", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-group">

        @Html.LabelFor(model => model.Feed.Title)
        @Html.EditorFor(model => model.Feed.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Feed.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.Feed.Description)
        @Html.EditorFor(model => model.Feed.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Feed.Description, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">

        @Html.LabelFor(model => model.Feed.Format)
        @Html.DropDownListFor(model => model.Feed.Format, new SelectList(Model.Formats, "Value", "Text"), "---Vælg Format---", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Feed.Format, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">

        @Html.LabelFor(model => model.Feed.Limit)
        @Html.EditorFor(model => model.Feed.Limit, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Feed.Limit, "", new { @class = "text-danger" })
    </div>




    <label>Vælg attributter som skal inkluderes i feedet</label>
    <div id="properties-wrapper" class="d-flex">
        @foreach (var item in Model.Attributes)
        {
            if (item.Text != "ProductId")
            {
                <div class="form-group pl-2">
                  <label>
                      <input type="checkbox" name="Attributes" value="@item.Value" @if (Model.SelectedAttributes.Contains(item.Value)) { <text> checked </text> }/>
                      @item.Text
                  </label>
                </div>
            }

        }
    </div>

    <label>Vælg de kategorier som du vil have produkter skal medtages for</label>
    <div id="categories-wrapper" class="d-flex">

        @foreach (var item in Model.FeedCategories)
        {
            <div class="form-group pl-2">
                <label>
                    <input type="checkbox" name="FeedCategories" value="@item.Value" @if (Model.SelectedCategories.Contains(new Guid(item.Value))) { <text> checked </text>  } />
                    @item.Text
                </label>
            </div>
        }
    </div>


    <!--
        <button id="feed-submit-btn" class="btn btn-success">Opret</button>

    -->

<div class="form-group">

    <p class="text-danger">@Html.DisplayFor(model => model.ErrorMessage)</p> 
</div>

    <button type="submit" class="btn btn-primary">@Model.ButtonTitle</button>
    @Html.ActionLink("Tilbage", "Index", null, new { @class = "btn btn-primary" })

}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/js/Feed.js"></script>
}  