
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeCalculator</title>
</head>
<body>
    <div>
        <h1>Time Calculator (in seconds)</h1>
        @using (Html.BeginForm())
        {
            <p>
                @Html.Label("Hours") <br />
                @Html.TextBox("Hours")
                
            </p>
            <p>
            </p>
            <p>
                @Html.Label("Minutes") <br />
                @Html.TextBox("Minutes")<br/>
                @Html.Label("Seconds") <br />
                @Html.TextBox("Seconds")
            </p>
            <p>
                <input type="submit" value="Calculate time">
            </p>
        }
    </div>
</body>
</html>
