
@using DataTransferObjects.Models
@using SalesSystemWebApp.ViewModels

@model CategoriesViewModel


@{
    ViewBag.Title = "Categories";
}



@Html.Partial("_PageHeading", "Administere Kategorier")



@Html.ActionLink("Opret Kategori", "Create", null, new { @class = "btn btn-primary" })


<table style="margin-top: 20px;" class="table table-bordered">

    @Html.Partial("_TableHeader", new List<string> { "Kategori navn", "Detajler", "Opdatere", "Slet" })

    @foreach (CategoryDto category in Model.Categories)
    {
        @Html.Partial("_Category", category)
    }

</table>

<p class="text-danger">@Model.ErrorMessage</p>
<h5 style="margin-top: 20px;">Antal Kategorier: @Model.Categories.Count</h5>
